{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.id }}{% endblock %}
{% block navbar %}
    {% include './_navbar.html.twig' %}
{% endblock %}

{% block body %}

    {% if programs in not null %}  

    {% include 'program-card.html.twig' %}
    {% else %}
        <div><h5>Aucune série n'a été trouvée !</h5></div>

    <a href="{{ path('category_index') }}">
        Retour à la liste des categories
    </a>
{% endblock %}