{% extends 'base.html.twig' %}

{% block title %}Catégorie :{{ category.id }}{% endblock %}

{% block body %}

    {% for program in programs %}  

    <h2>{{ program.title }}</h2>
    <a href="{{ path('program_show', { programId: program.id}) }}">
       Voir la fiche
    </a>
    {% else %}
    <h5>Aucune category n'a été trouvée !</h5>

    <a href="{{ path('category_index') }}">
        Retour à la liste des categories
    </a>
    {% endfor %}
{% endblock %}