{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}
{% block navbar %}
    {% include '_navbar.html.twig' %}
{% endblock %}

{% block body %}

<h1>Page number {{ page }}.</h1>
<a href="{{ path('program_list', {page: 5}) }}">Afficher la page 5</a>
<p>{{id}}</p>
{% endblock %}