{% extends "base.html.twig" %}

{% block title %}
	Acteur
	{{ actor.name}}
	{% {% endblock %}
	%}

	<strong>Acteurs :</strong>
	<ul>
		{% for actor in program.actors %}
			<li>{{ actor.name }}</li>
		{% else %}
			<li>Aucun acteur pour cette série</li>
		{% endfor %}
	</ul>
	<a herf="{{ path('category_index') }}">Voir les categories</a>
{% endblock %}
