<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
	<link rel="icon" type="image/png" href="logo.png" />
		<a class="navbar-brand" href="#">WILD SERIES</a>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Features</a>
				</li>
				        <link rel="icon" type="image/png" href="{{ asset('build/images/look.png') }}"/>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">
	  <option>
	  <h3>Category</h3>
	  </option>
	  	  <option>
	  <h3>Actors</h3>
	  </option>
	  </span>
    </button>

			</ul>
		</div>
	</div>
</nav>
