
{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

{% block title %}
<h1>Wild Series</h1>

{% block navbar %}
	{% include './_navbar.html.twig' %}
{% endblock %}
{% endblock %}
